In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv("swiggy_master_dataset.csv")

In [44]:
df.head(100)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Final_Amount,Commission_pct,Platform_Revenue,Distance_km,Delivery_Cost,Order_Prep_Time_min,Profit,Payment_Method,Cuisine,Order_Status
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21.55,...,194.40,0.204,39.66,10.28,107.35,15.0,-67.69,Card,Italian,Delivered
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14.55,...,178.00,0.192,34.18,6.24,65.55,10.0,-31.37,Card,Street Food,Delivered
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17.30,...,43.00,0.225,9.68,13.79,89.05,37.0,-79.37,Card,Desserts,Delivered
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,9.20,...,577.15,0.235,135.63,2.93,32.58,28.0,103.05,Card,Biryani,Delivered
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19.50,...,142.50,0.257,36.62,19.40,152.60,60.0,-115.98,UPI,Chinese,Delivered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0x6757,INDORES05DEL02,24.0,4.3,22.727021,75.884167,22.747021,75.904167,15-03-2022,8.45,...,193.00,0.298,57.51,3.03,33.18,1290.0,24.33,Card,Street Food,Delivered
96,0x22ad,BANGRES03DEL03,27.0,4.6,12.979166,77.640709,13.069166,77.730709,04-03-2022,21.25,...,544.35,0.263,143.16,13.97,138.35,15.0,4.81,UPI,Biryani,Delivered
97,0x9f99,MUMRES11DEL01,23.0,4.8,18.994237,72.825553,19.104237,72.935553,18-03-2022,22.35,...,134.90,0.221,29.81,16.83,96.15,5.0,-66.34,Wallet,North Indian,Delivered
98,0x6781,MYSRES12DEL02,21.0,4.3,12.284747,76.625861,12.414747,76.755861,23-03-2022,20.10,...,51.00,0.231,11.78,20.21,158.27,19.0,-146.49,UPI,Continental,Delivered
99,0x1b8d,SURRES09DEL02,27.0,4.7,21.175975,72.795503,21.195975,72.815503,15-03-2022,10.55,...,198.00,0.299,59.20,3.04,27.20,15.0,32.00,Card,Desserts,Delivered

In [5]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)',
       'Customer_ID', 'Customer_Age', 'Order_Price', 'Discount_pct',
       'Final_Amount', 'Commission_pct', 'Platform_Revenue', 'Distance_km',
       'Delivery_Cost', 'Order_Prep_Time_min', 'Profit', 'Payment_Method',
       'Cuisine', 'Order_Status'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   Delivery_person_Age          43730 non-null  float64
 3   Delivery_person_Ratings      43676 non-null  float64
 4   Restaurant_latitude          45584 non-null  float64
 5   Restaurant_longitude         45584 non-null  float64
 6   Delivery_location_latitude   45584 non-null  float64
 7   Delivery_location_longitude  45584 non-null  float64
 8   Order_Date                   45584 non-null  object
 9   Time_Orderd                  43853 non-null  float64
 10  Time_Order_picked            45584 non-null  object
 11  Weather_conditions           44968 non-null  object
 12  Road_traffic_density         44983 non-null  object
 13  Vehicle_condition            45584 non-null  int64
 14  Type_of_order                45584 non-null  object
 15  Type_of_vehicle              45584 non-null  object
 16  multiple_deliveries          44591 non-null  float64
 17  Festival                     45356 non-null  object
 18  City                         44384 non-null  object
 19  Time_taken (min)             45584 non-null  int64
 20  Customer_ID                  45584 non-null  object
 21  Customer_Age                 45584 non-null  int64
 22  Order_Price                  45584 non-null  int64
 23  Discount_pct                 45584 non-null  int64
 24  Final_Amount                 45584 non-null  float64
 25  Commission_pct               45584 non-null  float64
 26  Platform_Revenue             45584 non-null  float64
 27  Distance_km                  45584 non-null  float64
 28  Delivery_Cost                45584 non-null  float64
 29  Order_Prep_Time_min          42592 non-null  float64
 30  Profit                       45584 non-null  float64
 31  Payment_Method               45584 non-null  object
 32  Cuisine                      45584 non-null  object
 33  Order_Status                 45584 non-null  object
dtypes: float64(15), int64(5), object(14)
memory usage: 11.8+ MB

In [12]:
df.describe()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Vehicle_condition,multiple_deliveries,Time_taken (min),Customer_Age,Order_Price,Discount_pct,Final_Amount,Commission_pct,Platform_Revenue,Distance_km,Delivery_Cost,Order_Prep_Time_min,Profit
count,43730.000000,43676.000000,45584.000000,45584.000000,45584.000000,45584.000000,43853.000000,45584.000000,44591.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,45584.000000,4.259200e+04,45584.000000
mean,29.566911,4.633774,17.017948,70.229684,17.465480,70.844161,16.311950,1.023385,0.744635,26.293963,34.141519,270.641409,5.500395,255.790537,0.240240,61.466225,99.321338,590.507341,4.142895e+07,-529.041116
std,5.815064,0.334744,8.185674,22.885575,7.335562,21.120578,6.579933,0.839055,0.572510,9.384298,11.553646,192.847416,7.755811,184.114759,0.034609,45.574419,1099.839158,6168.623652,1.791525e+08,6168.748116
min,15.000000,1.000000,-30.905562,-88.366217,0.010000,0.010000,0.375000,0.000000,0.000000,10.000000,18.000000,40.000000,0.000000,28.000000,0.180000,5.540000,1.470000,12.470000,2.000000e+00,-165279.580000
25%,25.000000,4.500000,12.933284,73.170000,12.988453,73.280000,11.500000,0.000000,0.000000,19.000000,25.750000,122.000000,0.000000,115.000000,0.210000,27.210000,4.660000,48.930000,1.000000e+01,-62.270000
50%,30.000000,4.700000,18.551440,75.897963,18.633934,76.002574,18.450000,1.000000,1.000000,26.000000,32.000000,209.000000,0.000000,197.000000,0.240000,46.510000,9.260000,77.090000,1.900000e+01,-22.660000
75%,35.000000,4.900000,22.728163,78.044095,22.785049,78.107044,21.250000,2.000000,1.000000,32.000000,42.000000,366.000000,10.000000,346.000000,0.270000,83.342500,13.760000,110.380000,4.200000e+01,15.440000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,23.550000,3.000000,3.000000,54.000000,65.000000,800.000000,30.000000,800.000000,0.300000,238.500000,19692.670000,165400.200000,9.583320e+08,201.250000

In [122]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
Customer_ID                    0
Customer_Age                   0
Order_Price                    0
Discount_pct                   0
Final_Amount                   0
Commission_pct                 0
Platform_Revenue               0
Distance_km                    0
Delivery_Cost                  0
Order_Prep_Time_min            0
Profit                         0
Payment_Method                 0
Cuisine                        0
Order_Status                   0
dtype: int64

In [121]:
df.isnull().sum()/len(df.isnull())*100

ID                             0.0
Delivery_person_ID             0.0
Delivery_person_Age            0.0
Delivery_person_Ratings        0.0
Restaurant_latitude            0.0
Restaurant_longitude           0.0
Delivery_location_latitude     0.0
Delivery_location_longitude    0.0
Order_Date                     0.0
Time_Orderd                    0.0
Time_Order_picked              0.0
Weather_conditions             0.0
Road_traffic_density           0.0
Vehicle_condition              0.0
Type_of_order                  0.0
Type_of_vehicle                0.0
multiple_deliveries            0.0
Festival                       0.0
City                           0.0
Time_taken (min)               0.0
Customer_ID                    0.0
Customer_Age                   0.0
Order_Price                    0.0
Discount_pct                   0.0
Final_Amount                   0.0
Commission_pct                 0.0
Platform_Revenue               0.0
Distance_km                    0.0
Delivery_Cost                  0.0
Order_Prep_Time_min            0.0
Profit                         0.0
Payment_Method                 0.0
Cuisine                        0.0
Order_Status                   0.0
dtype: float64

In [ ]:
SINCE THE NULL/MISSING DATA IS LESS THE 20% WE CAN IMPUTE THE DATA FOR THE EMPTY CELLS OR ROWS

In [18]:
avg_age = df['Delivery_person_Age'].mean().round()

In [19]:
print(avg_age)

30.0

In [20]:
df['Delivery_person_Age']=df['Delivery_person_Age'].fillna(avg_age)

In [22]:
avg_rating = df['Delivery_person_Ratings'].mean().round(1)

In [23]:
print(avg_rating)

4.6

In [24]:
df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].fillna(avg_rating)

In [30]:
df['Time_Orderd'] = df['Time_Orderd'].ffill()

In [91]:
df['Weather_conditions'].unique()

array(['Fog', 'Stormy', 'Sandstorms', 'Windy', 'Cloudy', 'Sunny'],
      dtype=object)

In [86]:
most_occ_weather = df['Weather_conditions'].mode()[0]

In [87]:
print(most_occ_weather)

Fog

In [47]:
df['Weather_conditions']= df['Weather_conditions'].fillna('most_occ_weather')

In [95]:
df['Road_traffic_density'].unique()

array(['Jam', 'High', 'Medium', 'Low'], dtype=object)

In [89]:
df['Weather_conditions']= df['Weather_conditions'].replace('most_occ_weather',most_occ_weather)

In [92]:
most_occ_traffic = df['Road_traffic_density'].mode()[0]

In [93]:
print(most_occ_traffic)

Low

In [55]:
df['Road_traffic_density']=df['Road_traffic_density'].fillna('most_occ_traffic')

In [94]:
df['Road_traffic_density']=df['Road_traffic_density'].replace('most_occ_traffic',most_occ_traffic)

In [67]:
df['multiple_deliveries'].unique()

array([3., 1., 0., 2.])

In [64]:
avg_mul_del=df['multiple_deliveries'].mean().round()

In [65]:
print(avg_mul_del)

1.0

In [66]:
df['multiple_deliveries']=df['multiple_deliveries'].fillna(avg_mul_del)

In [96]:
df['Festival'].unique()

array(['No', 'Yes'], dtype=object)

In [82]:
most_fest=df['Festival'].mode()[0]

In [83]:
df['Festival']=df['Festival'].replace('most_fest',most_fest)

In [84]:
df['Festival'].unique()

array(['No', 'Yes'], dtype=object)

In [105]:
df['City'].unique()

array(['Metropolitian', 'Urban', 'Semi-Urban'], dtype=object)

In [102]:
most_occ_city = df['City'].mode()[0]

In [103]:
most_occ_city

'Metropolitian'

In [104]:
df['City']=df['City'].fillna(most_occ_city)

In [117]:
most_occ_prep_time=df['Order_Prep_Time_min'].mode()[0]

In [118]:
most_occ_prep_time

10.0

In [119]:
df['Order_Prep_Time_min']=df['Order_Prep_Time_min'].fillna(most_occ_prep_time)

In [120]:
df['Order_Prep_Time_min'].unique()

array([1.50000000e+01, 1.00000000e+01, 3.70000000e+01, 2.80000000e+01,
       6.00000000e+01, 4.60000000e+01, 2.30000000e+01, 4.20000000e+01,
       5.00000000e+00, 3.30000000e+01, 2.00000000e+00, 5.10000000e+01,
       2.40000000e+01, 4.58332678e+08, 4.10000000e+01, 1.40000000e+01,
       4.40000000e+02, 9.58331968e+08, 9.16665352e+08, 5.00000000e+01,
       1.06000000e+03, 1.11000000e+03, 4.00000000e+02, 1.90000000e+01,
       9.58332008e+08, 1.29000000e+03, 8.33332138e+08, 7.08332368e+08,
       3.20000000e+01, 1.70000000e+02, 4.50000000e+02, 1.22000000e+03,
       4.90000000e+02, 7.91665542e+08, 2.85000000e+02, 1.75000000e+02,
       1.33000000e+03, 7.08332318e+08, 9.58331958e+08, 1.02000000e+03,
       3.95000000e+02, 7.91665532e+08, 1.01500000e+03, 7.80000000e+02,
       8.33332148e+08, 7.40000000e+02, 9.16665362e+08, 3.90000000e+02,
       1.01000000e+03, 1.07000000e+03, 2.80000000e+02, 7.30000000e+02,
       8.33332188e+08, 9.16665402e+08, 4.16666122e+08, 4.16666082e+08,
       1.28000000e+03, 7.25000000e+02, 1.80000000e+02, 5.41665902e+08,
       7.20000000e+02, 1.17000000e+03, 4.58332728e+08, 7.91665582e+08,
       4.58332688e+08, 2.90000000e+02, 5.83332548e+08, 5.83332498e+08,
       5.41665942e+08, 5.41665892e+08, 6.66665712e+08, 4.16666072e+08,
       5.83332508e+08, 1.18000000e+03, 6.66665762e+08, 6.66665722e+08,
       7.08332328e+08])

In [123]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)',
       'Customer_ID', 'Customer_Age', 'Order_Price', 'Discount_pct',
       'Final_Amount', 'Commission_pct', 'Platform_Revenue', 'Distance_km',
       'Delivery_Cost', 'Order_Prep_Time_min', 'Profit', 'Payment_Method',
       'Cuisine', 'Order_Status'],
      dtype='object')

In [146]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age            float64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                    float64
Time_Order_picked               object
Weather_conditions              object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries            float64
Festival                        object
City                            object
Time_taken (min)                 int64
Customer_ID                     object
Customer_Age                     int64
Order_Price                      int64
Discount_pct                     int64
Final_Amount                   float64
Commission_pct                 float64
Platform_Revenue               float64
Distance_km                    float64
Delivery_Cost                  float64
Order_Prep_Time_min            float64
Profit                         float64
Payment_Method                  object
Cuisine                         object
Order_Status                    object
dtype: object

In [129]:
df['Order_Date']=pd.to_datetime(df['Order_Date'],errors='coerce')

In [155]:
# Use the format parameter but allow invalid entries to become NaT
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y', errors='coerce')

In [133]:
df.nunique

<bound method DataFrame.nunique of            ID Delivery_person_ID  Delivery_person_Age  \
0      0xcdcd      DEHRES17DEL01                 36.0
1      0xd987      KOCRES16DEL01                 21.0
2      0x2784     PUNERES13DEL03                 23.0
3      0xc8b6     LUDHRES15DEL02                 34.0
4      0xdb64      KNPRES14DEL02                 24.0
...       ...                ...                  ...
45579  0x7c09      JAPRES04DEL01                 30.0
45580  0xd641      AGRRES16DEL01                 21.0
45581  0x4f8d     CHENRES08DEL03                 30.0
45582  0x5eee    COIMBRES11DEL01                 20.0
45583  0x5fb2   RANCHIRES09DEL02                 23.0

       Delivery_person_Ratings  Restaurant_latitude  Restaurant_longitude  \
0                          4.2            30.327968             78.046106
1                          4.7            10.003064             76.307589
2                          4.7            18.562450             73.916619
3                          4.3            30.899584             75.809346
4                          4.7            26.463504             80.372929
...                        ...                  ...                   ...
45579                      4.8            26.902328             75.794257
45580                      4.6             0.000000              0.000000
45581                      4.9            13.022394             80.242439
45582                      4.7            11.001753             76.986241
45583                      4.9            23.351058             85.325731

       Delivery_location_latitude  Delivery_location_longitude Order_Date  \
0                       30.397968                    78.116106 2022-12-02
1                       10.043064                    76.347589        NaT
2                       18.652450                    74.006619 2022-04-03
3                       30.919584                    75.829346        NaT
4                       26.593504                    80.502929        NaT
...                           ...                          ...        ...
45579                   26.912328                    75.804257        NaT
45580                    0.070000                     0.070000        NaT
45581                   13.052394                    80.272439 2022-11-03
45582                   11.041753                    77.026241 2022-07-03
45583                   23.431058                    85.405731 2022-02-03

       Time_Orderd  ... Final_Amount Commission_pct Platform_Revenue  \
0            21.55  ...       194.40          0.204            39.66
1            14.55  ...       178.00          0.192            34.18
2            17.30  ...        43.00          0.225             9.68
3             9.20  ...       577.15          0.235           135.63
4            19.50  ...       142.50          0.257            36.62
...            ...  ...          ...            ...              ...
45579        11.35  ...       384.00          0.296           113.66
45580        19.55  ...       337.00          0.283            95.37
45581        23.50  ...        91.00          0.199            18.11
45582        13.35  ...        92.00          0.251            23.09
45583        17.10  ...       106.40          0.267            28.41

       Distance_km Delivery_Cost Order_Prep_Time_min  Profit Payment_Method  \
0            10.28        107.35                15.0  -67.69           Card
1             6.24         65.55                10.0  -31.37           Card
2            13.79         89.05                37.0  -79.37           Card
3             2.93         32.58                28.0  103.05           Card
4            19.40        152.60                60.0 -115.98            UPI
...            ...           ...                 ...     ...            ...
45579         1.49         29.92                10.0   83.74            UPI
45580        11.01        113.48                15.0  -18.11           Card
45581         4.66         35.30                10.0  -17.19         Wallet
45582         6.23         65.48                 5.0  -42.39           Cash
45583        12.07         79.58                14.0  -51.17           Card

           Cuisine  Order_Status
0          Italian     Delivered
1      Street Food     Delivered
2         Desserts     Delivered
3          Biryani     Delivered
4          Chinese     Delivered
...            ...           ...
45579    Beverages     Delivered
45580    Beverages     Delivered
45581  Street Food     Delivered
45582    Beverages     Delivered
45583      Biryani     Delivered

[45584 rows x 34 columns]>

In [137]:
df.duplicated().sum()

0

In [136]:
df.drop_duplicates()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Final_Amount,Commission_pct,Platform_Revenue,Distance_km,Delivery_Cost,Order_Prep_Time_min,Profit,Payment_Method,Cuisine,Order_Status
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2022-12-02,21.55,...,194.40,0.204,39.66,10.28,107.35,15.0,-67.69,Card,Italian,Delivered
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,NaT,14.55,...,178.00,0.192,34.18,6.24,65.55,10.0,-31.37,Card,Street Food,Delivered
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2022-04-03,17.30,...,43.00,0.225,9.68,13.79,89.05,37.0,-79.37,Card,Desserts,Delivered
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,NaT,9.20,...,577.15,0.235,135.63,2.93,32.58,28.0,103.05,Card,Biryani,Delivered
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,NaT,19.50,...,142.50,0.257,36.62,19.40,152.60,60.0,-115.98,UPI,Chinese,Delivered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,NaT,11.35,...,384.00,0.296,113.66,1.49,29.92,10.0,83.74,UPI,Beverages,Delivered
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,NaT,19.55,...,337.00,0.283,95.37,11.01,113.48,15.0,-18.11,Card,Beverages,Delivered
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,2022-11-03,23.50,...,91.00,0.199,18.11,4.66,35.30,10.0,-17.19,Wallet,Street Food,Delivered
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,2022-07-03,13.35,...,92.00,0.251,23.09,6.23,65.48,5.0,-42.39,Cash,Beverages,Delivered
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,2022-02-03,17.10,...,106.40,0.267,28.41,12.07,79.58,14.0,-51.17,Card,Biryani,Delivered

In [158]:
df['Order_Date']

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
45579   NaT
45580   NaT
45581   NaT
45582   NaT
45583   NaT
Name: Order_Date, Length: 45584, dtype: datetime64[ns]

In [145]:
df['Order_Date']=df['Order_Date'].astype('str')

In [157]:
df['Order_Date']=df['Order_Date'].ffill()

In [156]:
df.isnull().sum()

ID                                 0
Delivery_person_ID                 0
Delivery_person_Age                0
Delivery_person_Ratings            0
Restaurant_latitude                0
Restaurant_longitude               0
Delivery_location_latitude         0
Delivery_location_longitude        0
Order_Date                     45584
Time_Orderd                        0
Time_Order_picked                  0
Weather_conditions                 0
Road_traffic_density               0
Vehicle_condition                  0
Type_of_order                      0
Type_of_vehicle                    0
multiple_deliveries                0
Festival                           0
City                               0
Time_taken (min)                   0
Customer_ID                        0
Customer_Age                       0
Order_Price                        0
Discount_pct                       0
Final_Amount                       0
Commission_pct                     0
Platform_Revenue                   0
Distance_km                        0
Delivery_Cost                      0
Order_Prep_Time_min                0
Profit                             0
Payment_Method                     0
Cuisine                            0
Order_Status                       0
dtype: int64

In [160]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)',
       'Customer_ID', 'Customer_Age', 'Order_Price', 'Discount_pct',
       'Final_Amount', 'Commission_pct', 'Platform_Revenue', 'Distance_km',
       'Delivery_Cost', 'Order_Prep_Time_min', 'Profit', 'Payment_Method',
       'Cuisine', 'Order_Status'],
      dtype='object')

In [161]:
df.to_csv("swiggy_data_cleaned007.csv",index=False)